#chatList{
    background-color: white;
    height: 100%;
    border-radius: 25px;
}
#chatList .search-input{
    border-radius: 50px;
    margin: 5% 2%;
    width: 90%;
    height: 2.35em;
}
#chatList .userlist{
    float: left;
    margin: 3% 5%;
    width: 90%;
}
#chatList .username{
    font-size: 1em;
    font-weight: 700;
    margin: 1%;
}
#chatList .lastmessage{
    font-size: 0.9em;
    margin-left: 1%;
}
#chatList .time{
    font-size: 0.8em;
    color: #b9b9b9;
    text-align: center;
    padding-top: 1.5%;
}
#chatList .message-icon{
    background-color: #e25b58;
    color: white;
    border-radius: 50px;
    padding: 1.75px 3px;
    font-size: 0.8em;
}
#chatList .message-icon-col{
    text-align: center;
    margin-top: -2%;
}