p,h1,h2,h3,h4,h5,span{color:white;}
hr{
    border-color: #828282;
    margin: 0;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey; 
    border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: grey; 
  }

#chatList{
    background-color: #040404;
    overflow-x: auto;
    height: 75vh;
}
#chatList .ant-input-affix-wrapper > input.ant-input{
    background-color: #040404;
    color: #efe1e1;
    font-size: 0.95em;
}
#chatList .search-input{
    background-color: #040404;
    border: #040404;
}
#chatList .userlist{
  display: flex;
  align-items: center;
}
#chatList .userdiv{
    width: 87%;
    padding: 12px;
}
#chatList .username{
    margin: 0;
    font-size: 0.88em;   
}
#chatList .lastmessage{
    margin: 0;
    font-size: 0.82em;
    color: #828282;
}
#chatList .time{
    font-size: 0.72em;
    color: #828282;
}
#chatList .message-icon{
    background-color: #e25b58;
    color: white;
    font-size: 0.8em;
}
#chatList .message-icon-col{
    text-align: center;
    margin-top: -2%;
}



#messageList{
    background-color: #232222;
    overflow-x: auto;
    height: 81vh;
}
#messageList .leftdiv{
    display: flex;
}
#messageList .rightdiv{
    display: flex;
    justify-content: flex-end;
}
#messageList .message{
    background-color: #455DC7;
    color: #fafafa;
    display: inline-block;
    max-width: 80%;
    padding: 10px;
    margin: 10px 25px 10px 25px;
    border-radius: 10px;
}
.message-field{
    background-color: black;
}


#message-header{
    height: 12vh;
    background-color: #232222;
    display: flex;
    align-items: center;
    padding: 0px 30px 0 30px;
}
#message-header .messagehead{
    font-size: 1em;
    margin: 0;
}
#message-header .email{
    margin: 0;
    color: #828282;
    font-size: 0.85em;
}
#message-header .icon{
    font-size: 1.3em;
    cursor: pointer;
    color: #828282;
    padding: 10px;
}



#chat-header{
    background-color: #040404;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#chat-header .chathead{
    font-size: 0.9em;
    margin: 0;
}
#chat-header .email{
    font-size: 0.8em;
    color: #828282;
}
#chat-header .username{
    margin: 4px 0px 0px 0px;
}
#chat-header .chatsub{
    font-size: 0.8em;
}
#textmessage {
    height: 7vh;
    background-color: black;
}
#textmessage .ant-input-affix-wrapper > input.ant-input{
    background: black;
    color: white;
    /* height: 100%; */
}