p,h1,h2,h3,h4,h5,span{color:white;}
hr{
    border-color: #828282;
    margin: 0;
}

#chatList{
    background-color: #040404;
    overflow-x: auto;
    height: 75vh;
}
#chatList .ant-input-affix-wrapper > input.ant-input{
    background-color: #040404;
    color: #efe1e1;
    font-size: 0.95em;
}
#chatList .search-input{
    background-color: #040404;
    border: #040404;
}
#chatList .userlist{
  display: flex;
  align-items: center;
}
#chatList .userdiv{
    width: 87%;
    padding: 12px;
}
#chatList .username{
    margin: 0;
    font-size: 0.88em;   
}
#chatList .lastmessage{
    margin: 0;
    font-size: 0.82em;
    color: #828282;
}
#chatList .time{
    font-size: 0.72em;
    color: #828282;
}
#chatList .message-icon{
    background-color: #e25b58;
    color: white;
    font-size: 0.8em;
}
#chatList .message-icon-col{
    text-align: center;
    margin-top: -2%;
}



#messageList{
    background-color: black;
    overflow-x: auto;
}
#messageList .leftdiv{
    display: flex;
}
#messageList .rightdiv{
    display: flex;
    justify-content: flex-end;
}
#messageList .message{
    background-color: #455DC7;
    color: #fafafa;
    display: inline-block;
    max-width: 80%;
}
.message-field{
    background-color: black;
}


#message-header{
    background-color: black;
}
#message-header .messagehead{
    font-size: 16px;
    margin: 0;
}
#message-header .icon{
    font-size: 20px;
    cursor: pointer;
}



#chat-header{
    background-color: #040404;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#chat-header .chathead{
    font-size: 0.9em;
    margin: 0;
}
#chat-header .email{
    font-size: 0.8em;
    color: #828282;
}
#chat-header .username{
    margin: 4px 0px 0px 0px;
}
#chat-header .chatsub{
    font-size: 0.8em;
}
#textmessage .ant-input-affix-wrapper > input.ant-input{
    background: black;
    color: white;
}