#global-ring{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    background-color: black;
    padding: 15px;
}
#global-ring .accept {
    font-size: 16px;
    color: white;
    background-color: #0d5a0d;
    padding: 25px;
    border-radius: 30px;
    margin: 10px;
}
#global-ring .reject {
    font-size: 16px;
    color: white;
    background-color: red;
    padding: 25px;
    border-radius: 30px;
    margin: 10px;
}
